*{box-sizing: border-box;}
a{
    text-decoration: none;
    color: inherit;
    text-shadow: inherit;
}
image {
    width: 100%
}

@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

body{
    font-family: 'Slabo 27px', serif;
    background-image: url(img/bg-3.jpg);
    position: relative;
}

/*! ********/
/*! header**/
/*! ********/
.hero{
    margin-top: 2px;
    width: 100%;
    height: 100vh;
    /* background-image: url(img/bg/bg-2.jpg); */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 53px;
}

.hero .judul {
    font-size: 9em;
    font-weight: bold;
    color: #7ee8fa;
    text-shadow: 2px 2px 10px blue;
}

.hero .judul .pets{
    color: #eec0c6;
    text-shadow: 2px 2px 10px red;
}

.hero .sub-judul{
    color: #26e9d9;
    font-size: 3em;
    text-shadow: 2px 2px 5px white;
}

header nav {
    width: 100%;
    height: 50px;
    background-color: #fff;
    padding: 5px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: -2px 2px 15px black;
    z-index: 999;
    position: fixed;
    top: 0px;
}

nav .judul-nav {
    font-size: 3em;
    color: #7ee8fa;
    text-shadow: 2px 2px 5px rgb(198, 137, 255),-1px 1px 1px black;
    cursor: pointer;
}

nav .judul1:hover {
    /* background-color: #eaeaea; */
    text-shadow: 2px 2px 20px palevioletred;
}

nav .judul-nav .pets-nav{
    color: #eec0c6;
}

nav ul li{
    display: inline-block;
    font-size: 2rem;
    margin-left: 1.5em;
    font-weight: 700;
    color:cornflowerblue;
    line-height: 3rem;
    text-shadow:1px 1px 2px black;
}

nav ul .list:hover{
    text-shadow: 4px 4px 20px palevioletred, -4px -4px 20px palevioletred;
}

nav ul .dropbtn{
    cursor: pointer;
}

nav ul .myProf-btn{
    cursor: pointer;
}

nav ul .dropbtn:hover{
    text-shadow: 2px 2px 10px palevioletred;
}

nav .lists .dropdown1:hover .dropbtn{
    text-shadow: 4px 4px 20px palevioletred, -4px -4px 20px palevioletred;
}

.list-dropdown1{
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    background-color: #fff ;
    line-height: 2.5rem;
    animation: .8s ease-in;
    text-align: left;
    text-indent: 10px;
    display: none;
}

.list-dropdown1 a{
    text-shadow: none;
}

.list-dropdown1 a:hover {
    background-color: pink;
}

.dropdown1:hover .list-dropdown1{
    display:flex;
}

.about{
    width: 100%;
    height: 600px;
    background: #eec0c6;
    padding: 3em 7rem;
}

.about .about-judul{
    font-size: 3.5rem;
    font-weight: bold;
    color:#2fb7cf;
    text-shadow:2px 1px 15px #fff;
    text-align: center;
}

.about p{
    margin-top: 20px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3rem;
}

.about .alf-about{
    color: #7ee8fa;
    text-shadow: 2px 2px 10px blue;
}

.about .pets-about{
    color: #eec0c6;
    text-shadow: 2px 2px 10px red;
}

.about .about-float .foto-about{
    float: left;
    margin-top: 20px;
    border-radius: 20px;
}

.about .about-float .foto-about::after{
    clear: both;
}

main .contact{
width: 100%;
height: 500px;
background: #7ee8fa;
padding: 3em 7rem;
}

main .contact .contact-judul{
    font-size: 3.5rem;
    font-weight: bold;
    color:#e973bc;
    text-shadow:2px 1px 15px #fff;
    text-align: center;
}

main .contact .alf-contact{
    color: #7ee8fa;
    text-shadow: 2px 2px 10px blue;
}

main .contact .pets-contact{
    color: #eec0c6;
    text-shadow: 2px 2px 10px red;
}

.contact .konten-contact{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact .isi-contact h1{
    line-height: 3rem;
    font-size: 2rem;
    font-weight: bold;
    color: #565656;
    margin-top: 10px;
}

.contact .isi-contact p{
    font-size: 1.5rem;
    color: #565656;
}

.konten-contact .contact-data form {
    display: flex;
    flex-direction: column;
}

.konten-contact .contact-data form .input1 {
    display: block;
    height: 40px;
    width: 100%;
    margin: 5px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
}

.konten-contact .contact-data form .input2 {
    height: 130px;
}

.konten-contact .contact-data form .button-contact{
    display: block;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    align-self: center;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
}



.gallery .dogs{
    width: 100%;
    height: 600px;
    background: #eec0c6;
    padding: 3em 7rem;
}

.gallery .dogs h1{
    font-size: 3.5rem;
    font-weight: bold;
    color:#2fb7cf;
    text-shadow:2px 1px 15px #fff;
    text-align: center;
}

.gallery .cats{
    width: 100%;
    height: 600px;
    background: #7ee8fa;
    padding: 3em 7rem;
}

.gallery .cats h1{
    font-size: 3.5rem;
    font-weight: bold;
    color:#e973bc;
    text-shadow:2px 1px 15px #fff;
    text-align: center;
}

.gallery .reptiles{
    width: 100%;
    height: 600px;
    background: #eec0c6;
    padding: 3em 7rem;
}

.gallery .reptiles h1{
    font-size: 3.5rem;
    font-weight: bold;
    color:#2fb7cf;
    text-shadow:2px 1px 15px #fff;
    text-align: center;
}

.gallery .cards{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.gallery .cards .card{
    width: 250px;
    height: 340px;
    border-radius: 5px ;
    border: 1px solid #444;
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px black;
}

.gallery .cards h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: #343434;
    padding: 10px 10px;
}


.gallery .cards a {
    border: 1px solid black;
}

.cards .card img{
    width: 250px;
}

.cards .card .button-card{
    display: block;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    align-self: center;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
}

footer {
    width: 100%;
    height: 50px;
    background:  #fff;
}

footer .copyright{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    font-size: 1rem;
    margin:  0px auto;
}

nav .lists .myProfile .profile {
    position: absolute;
    width: 400px;
    right: 0px;
    border: 1px solid black;
    background-color: #fff;
    padding: 10px;

    display: none;
}

nav .lists .myProfile  .muncul{
    display: block;
    animation: slideAndFade 3s ease-out forwards;
}

nav .lists .myProfile .profile p{
    font-size: 1rem;
    color: #343434  ;
}



@keyframes slideAndFade {
    0%{
        right: -400px;
        opacity: 0;
    }    
    100%{
        right: 70px;
        opacity: 1;
    }    
}

@keyframes slideAndFadego {
    0%{

        right: 70px;
        opacity: 1;
    }    
    100%{
        right: -400px;
        opacity: 0;
    }    
}